# =========================================================
# Dependencies
# =========================================================
node_modules/

database-backup


# =========================================================
# Next.js
# =========================================================
.next/
out/
.next/cache/


# =========================================================
# Production / Build
# =========================================================
build/
dist/


# =========================================================
# Environment Variables
# =========================================================
.env
.env.production


# IMPORTANT:
# Do NOT ignore prisma/schema.prisma
# Do NOT ignore prisma/migrations/
# Do NOT ignore prisma/seed.*


# =========================================================
# TypeScript
# =========================================================
*.tsbuildinfo
next-env.d.ts


# =========================================================
# Debug / Logs
# =========================================================
npm-debug.log*
lerna-debug.log*
*.log


# =========================================================
# Testing
# =========================================================
coverage/
.nyc_output/


# =========================================================
# OS / Editor
# =========================================================
.DS_Store
Thumbs.db
Desktop.ini

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json


# =========================================================
# Temporary Files
# =========================================================
*.tmp
*.temp
*.swp
*.swo
*.bak


# =========================================================
# Certificates / Private Keys
# =========================================================
*.pem
*.key
*.crt


# =========================================================
# Vercel
# =========================================================
.vercel/



# =========================================================
# Optional: Generated / Cache Files
# =========================================================
.cache/
.tmp/
temp/
